# Train data preparation

In [1]:
import pandas as pd
import xmltodict, json
import numpy as np
import xml.etree.ElementTree as ET

In [2]:
df = pd.read_csv('https://trein.fwrite.org/AMS-Aurora-archive/2016-01/DVS_2016-01-01.csv.xz')
df.columns = ["date", "data", "code"]

In [8]:
# Defining RitStation class here
class RitStation:
    def __init__(self, StationCode,KorteNaam, LangeNaam):
        self.StationCode = StationCode
        self.KorteNaam = KorteNaam
        self.LangeNaam = LangeNaam

# Defining Train class here
# TODO

In [9]:
# Getting only 10 rows
smalldf = df.head(10)

# Gets only 1 row for now (Loop must be added to go through every row)
xml_data = smalldf["data"][1]

root = ET.fromstring(xml_data)

# Gets the elements manually
# Ritstation contain it's properties, same for train
wrapper = root[0][1]
ritstation = wrapper[2]
train = wrapper[3]
# Planned and actual stations are part of the train parent
planned_station = train[11]
actual_station = train[12]

In [10]:
# Gets the properties of the ritstation manually
statcode = ritstation[0].text
kortenaam = ritstation[2].text
langenaam = ritstation[4].text

# Here the ritstation object is created with the data above
station = RitStation(statcode,kortenaam,langenaam)

In [11]:
# Dataframe is created to visualize the object
df_station = pd.DataFrame(station.__dict__.values(),station.__dict__.keys())
df_station

# Somehow the columns appear to be rows and I have no idea from where the 0 comes

                            0
StationCode              NSCH
KorteNaam           Nweschans
LangeNaam    Bad Nieuweschans